[submodule "lib/ft_printf"]
	path = lib/ft_printf
	url = https://github.com/zelhajou/ft_printf.git
[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
